// Fonts var

$primary-font: 'Geologica', sans-serif;
$secondary-font: 'Onest', sans-seriff;

// Colors var

$accent-green: #c1fb68;
$accent-blue: #0a4b88;
$accent-light-blue: #9aeaf8;

// Others
$container-padding: 24px;
$container-width: 1400px;

$transition-value: 0.3s ease-in-out;
