:root {
  --primary-font: 'Geologica', sans-serif;
  --secondary-font: 'Onest', sans-serif;
  --accent-green: #c1fb68;
  --accent-blue: #0a4b88;
  --accent-light-blue: #9aeaf8;
  --container-padding: 24px;
  --container-width: 1400px;
  --transition-value: 0.3s ease-in-out;
}



img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  transition: color var(--transition-value);
}

a:hover {
  color: var(--accent-green);
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: var(--secondary-font);
  font-size: 15px;
  background-color: white;
  color: #303437;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--secondary-font);
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-value);
}

.button--primary {
  font-weight: 800;
  color: var(--accent-blue);
  background-color: white;
}

.button--secondary {
  position: relative;
  overflow: hidden;
  padding: 32px 37px;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--accent-green);
  color: #163800;
  transition: background-color var(--transition-value);
}

.button--primary:hover {
  background-color: var(--accent-green);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-container {
  display: flex;
}

.flip-card {
  position: relative;
  width: 30px;
  height: 60px;
  overflow: hidden;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-card::before {
  content: '';
  position: absolute;
  height: 20px;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(14, 69, 122, 1) 100%);
}

.flip-card::after {
  content: '';
  position: absolute;
  height: 16px;
  z-index: 10;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(14, 69, 122, 1) 100%);
}

.digit {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  font-family: var(--primary-font);
  font-weight: 800;
  color: #fff;
  flex-shrink: 0;
}

/* Анимация рулетки */
.flip-card.rolling .flip-card-inner {
  animation: roll60 0.5s ease-out;
}

@keyframes roll60 {
  0% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes roll50 {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes roll42 {
  0% {
    transform: translateY(-42px);
  }

  100% {
    transform: translateY(0);
  }
}

.separator {
  font-family: var(--primary-font);
  font-size: 44px;
  font-weight: 500;
  align-self: flex-start;
  line-height: 60px;
}

.timer__label {
  display: block;
  font-size: 13px;
  line-height: 1;
  color: white;
  opacity: 0.3;
  text-align: center;
}


/* Header */

.header {
  padding-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #0A4B88;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header__burger-wrapper {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background: radial-gradient(119.77% 126.3% at 95.67% 0%, #1A6FBE 0%, #0A4B88 100%);
  border-radius: 0 14px 14px 0;
  padding: 25px;
  transform: translateX(-100%);
  pointer-events: none;
  transition: transform var(--transition-value);
}

.mobile-menu__close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  border-radius: 900px;
  background: rgba(240, 243, 246, 0.07);
}

.mobile-menu__logo {
  display: block;
  max-width: 160px;
  margin-bottom: 30px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 77px;
  padding: 12px 0;
}

.header__logo {
  flex-shrink: 0;
  max-width: 140px;
}

.header__nav {
  flex-grow: 1;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 7px;
}

.header__menu-link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 15px 5px;
  font-size: 14px;
  font-weight: 500;
  color: #83A4C3;
  text-decoration: none;
  transition: color var(--transition-value);
}

.header__menu-link::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #90E8F8;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.6s ease;
}

.header__menu-link:hover {
  color: #90E8F8;
}

.header__menu-link:hover::before,
.header__menu-link:focus::before {
  transform: scaleX(1);
}

.header__menu-link:focus-visible::before {
  transform: scaleX(1);
}

.header__contacts {
  display: flex;
  align-items: center;
  column-gap: 7px;
  flex-shrink: 0;
}

.header-phone {
  display: flex;
  align-items: center;
  column-gap: 7px;
  text-decoration: none;
  color: white;
}

.link-tool {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  border-radius: 100vmax;
  background-color: rgba(240, 243, 246, 0.07);
}

.header-phone__value {
  font-size: 18px;
  font-weight: 500;
}

.header__btn {
  padding: 15px 20px;
  font-size: 11px;
  letter-spacing: 0.33px;
  text-transform: uppercase;
}

/* Hero */

.hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-top: 200px;
  background-color: var(--accent-blue);
  color: white;
  border-radius: 0 0 40px 40px;
}

.hero__bg-container {
  position: absolute;
  z-index: -1;
  max-width: 1920px;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__bg-bubbles {
  position: absolute;
  bottom: -245px;
  right: 50%;
  width: 564px;
  height: auto;
  object-fit: contain;
  transform: rotate(21deg) scaleX(-1);
}

.hero__image-container {
  position: absolute;
  bottom: 0;
  left: 40%;
}

.hero__image-container::before {
  content: '';
  position: absolute;
  right: 0;
  top: -200px;
  max-width: 955px;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  opacity: 0.49;
  background: white;
  filter: blur(250px);
  z-index: -1;
}

.hero__image {
  width: 800px;
  max-width: none;
  max-height: none;
  transform: translate(100px, 106px);
}

.hero__wrapper {
  display: flex;
}

.hero__left {
  flex-shrink: 0;
  width: 670px;
  margin-right: 30px;
  padding-bottom: 165px;
}

.hero__title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: var(--primary-font);
  font-size: 57px;
  font-weight: 900;
  text-transform: uppercase;
}

.hero__title::before {
  content: '';
  position: absolute;
  right: calc(100% + 16px);
  top: 25px;
  width: 64px;
  height: 12px;
  background-image: url("../icons/hero-wave.svg");
  background-size: 100% 100%;
}

.hero__title-highlited {
  color: #90E8F8;
}

.hero__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-family: var(--primary-font);
  font-size: 37px;
}

.hero__text {
  margin: 0;
  margin-right: 20%;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.65;
  color: #9FB8D0;
}

.hero__btn-wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 8px;
  border-radius: 100vmax;
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.hero__btn-wrapper.hero__btn-wrapper--mobile {
  display: none;
}

.hero-promo {
  display: flex;
  align-items: center;
  min-height: 175px;
  border-radius: 25px;
  background: #0E457A;
  backdrop-filter: blur(5.5px);
}

.hero-promo__left {
  padding: 25px 31px 25px 25px;
  background-image: url("../icons/promo-sep.svg");
  background-size: auto 100%;
  background-position: 100% center;
  background-repeat: no-repeat;
}

.hero-promo__fire {
  position: relative;
  display: inline-block;
  padding: 13px 12px 13px 55px;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 100vmax;
  background: radial-gradient(68.87% 73.05% at 67.96% 10.68%, #EABC59 0%, #FA511E 100%);
}

.hero-promo__fire-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 44px;
  height: 60px;
  max-width: none;
  max-height: none;
  object-fit: contain;
}

.hero-promo__right {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 25px 25px 25px 20px;
}

.hero-promo__title {
  margin: 0;
  margin-top: 9px;
  font-size: 18px;
  line-height: 1.32;
  color: white;
}

.hero-promo__text {
  margin: 0;
  font-size: 23px;
  font-weight: 700;
  line-height: 132%;
}

.hero-promo__text-price {
  display: inline-block;
  margin-top: 26px;
  font-size: 60px;
  font-family: var(--primary-font);
  font-weight: 800;
  color: var(--accent-green);
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1920px;
  margin: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero__scroll {
  position: absolute;
  bottom: 0;
  left: 90px;
  pointer-events: all;
}

.hero__scroll::before {
  content: '';
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-image: url("../icons/arw-down.svg");
}

.hero__scroll-circle {
  width: 171px;
}

/* Problems */

.problems {
  padding-top: 90px;
}

.problems--wrapper {
  position: relative;
  padding-bottom: 5.49vw;
}

.problems--wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5.49vw;
  background-image: url("../icons/block-wrap.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.problems__title {
  margin: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--primary-font);
  font-size: 38px;
  font-weight: 900;
  line-height: 1.4;
  color: #35393D;
  text-align: center;
  text-transform: uppercase;
}

.problems__list {
  display: flex;
  margin-bottom: 25px;
  gap: 20px;
}

.problems__item {
  position: relative;
  flex: 1 1 calc((100% - 80px) / 5);
  padding: 35px;
  border-radius: 20px;
  border: 3px solid #E9F0F5;
}

.problems__item::before {
  content: '';
  position: absolute;
  right: 19px;
  transform: translateY(-50%);
  top: 0;
  width: 50px;
  height: 50px;
  background-image: url("../icons/star-warning.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


.problems__item-img {
  width: 56px;
  margin-bottom: 15px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.problems__item-text {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.65;
  color: #303437;
}

.problems__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.65;
  text-align: center;
  color: var(--accent-blue);
}

/* Solution */

.solution {
  padding: 90px 0;
  background-color: #F9FAFB;
}

.solution__wrapper {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.solution__content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-shrink: 0;
  min-width: 317px;
  width: 39.1%;
}

.solution__title {
  margin: 0;
  font-family: var(--primary-font);
  font-size: 31px;
  font-weight: 900;
  line-height: 139%;
  text-transform: uppercase;
  color: #35393D;
}

.solution__title-highlighted {
  color: var(--accent-blue);
}

.solution__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.65;
  color: #44474B;
}

.solution__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.65;
  color: #585B5E;
}

.solution__footer {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
  padding: 20px;
  border-radius: 16px;
  border: 4px solid #90E8F8;
}

.solution__footer-text {
  margin: 0;
  font-size: 15px;
  line-height: 1.54;
  color: #585B5E;
}

.solution__footer-img {
  width: 60px;
  height: auto;
  flex-shrink: 0;
  object-fit: contain;
}

.solution__image {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
}

.solution__stats {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.stats-inner {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.stat {
  position: relative;
  padding: 4px 10px 4px 30px;
  background-color: white;
  border-radius: 0 100vmax 100vmax 0;
}

.stat__image {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background-image: url("../icons/solution-star.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.stat__title {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.11;
  color: #5A5E62;
}

.stat__value {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.24;
  color: var(--accent-blue);
}

/* Advantages */

.advantages {
  padding: 90px 0;
}

.advantages__title {
  max-width: 1020px;
  margin: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--ff-headers);
  font-size: 38px;
  font-weight: 900;
  line-height: 1.4;
  color: #35393D;
  text-align: center;
  text-transform: uppercase;
}

.advantages__title-highlighted {
  color: var(--accent-blue);
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.advantages__item {
  flex: 1 1 calc((100% - 120px) / 4);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.advantages__item-img {
  flex-shrink: 0;
  width: 60px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.advantages__item-subtitle {
  margin: 0;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #35393D;
  text-transform: uppercase;
}

.advantages__item-text {
  margin: 0;
  font-size: 15px;
  line-height: 1.54;
  color: #595C5F;
}

/* Levels of work */

.levels-of-work {
  position: relative;
  z-index: 1;
  padding: 90px 0;
  background-color: #EFF7FF;
  /* background-color: plum; */
}

.levels-of-work__bg-container {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.levels-of-work__bg-img-left {
  width: 565px;
  height: auto;
  object-fit: contain;
  position: absolute;
  left: -140px;
  bottom: -357px;
  transform: rotate(338deg);
  transition: opacity var(--transition-value) !important;
}

.levels-of-work__bg-img-right {
  position: absolute;
  right: -216px;
  bottom: -40px;
  transform: rotate(338deg) !important;
  object-fit: contain;
  transition: opacity var(--transition-value) !important;
}

.levels-of-work__title {
  max-width: 762px;
  margin: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--primary-font);
  font-size: 38px;
  font-weight: 900;
  line-height: 1.4;
  color: #35393D;
  text-align: center;
  text-transform: uppercase;
}

.levels-of-work__list {
  display: flex;
  gap: 20px;
}

.levels-of-work__item {
  position: relative;
  display: flex;
  flex: 1 1 calc((100% - 80px) / 5);
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 7px 28px 0 rgba(0, 0, 0, 0.07);
}

.levels-of-work__number {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #2A5961;
  font-weight: 800;
  position: absolute;
  right: 24px;
  top: 0;
  transform: translatey(-50%);
  background-image: url("../icons/solution-star.svg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.levels-of-work__item-img {
  flex-shrink: 0;
  width: 50px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.levels-of-work__item-text {
  margin: 0;
  font-family: var(--primary-font);
  font-size: 15px;
  line-height: 1.54;
  color: #444B52;
}

.levels-of-work__subtitle {
  margin: 0;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 165%;
  text-align: center;
  color: var(--accent-blue);
}

/* Footer */

.footer {
  padding: 40px 0;
  background-color: #242627;
}

.footer__logo {
  flex-shrink: 0;
  max-width: 140px;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  color: #D3D4D4;
}

.footer__contacts {
  display: flex;
  gap: 60px;
}

.footer-contact__title {
  margin: 0;
  margin-bottom: 7px;
}

.footer-contact__link {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  padding-top: 19px;
  font-size: 13px;
  color: #A7A8A9;
  border-top: 1px solid #2F3132;
}

.footer__copyright {
  margin: 0;
}

.footer__privacy {
  color: #A7A8A9;
}