:root {
  --primary-font: 'Geologica', sans-serif;
  --secondary-font: 'Onest', sans-serif;
  --accent-green: #c1fb68;
  --accent-blue: #0a4b88;
  --accent-light-blue: #9aeaf8;
  --container-padding: 24px;
  --container-width: 1400px;
  --transition-value: 0.3s ease-in-out;
}



img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  transition: color var(--transition-value);
}

a:hover {
  color: var(--accent-green);
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: var(--secondary-font);
  font-size: 15px;
  background-color: white;
  color: #303437;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--secondary-font);
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-value);
}

.button--primary {
  font-weight: 800;
  color: var(--accent-blue);
  background-color: white;
}

.button--primary:hover {
  background-color: var(--accent-green);
}

/* Header */

.header {
  padding-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #0A4B88;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header__burger-wrapper {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background: radial-gradient(119.77% 126.3% at 95.67% 0%, #1A6FBE 0%, #0A4B88 100%);
  border-radius: 0 14px 14px 0;
  padding: 25px;
  transform: translateX(-100%);
  pointer-events: none;
  transition: transform var(--transition-value);
}

.mobile-menu__close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  border-radius: 900px;
  background: rgba(240, 243, 246, 0.07);
}

.mobile-menu__logo {
  display: block;
  max-width: 160px;
  margin-bottom: 30px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 77px;
  padding: 12px 0;
}

.header__logo {
  flex-shrink: 0;
  max-width: 140px;
}

.header__nav {
  flex-grow: 1;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 7px;
}

.header__menu-link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 15px 5px;
  font-size: 14px;
  font-weight: 500;
  color: #83A4C3;
  text-decoration: none;
  transition: color var(--transition-value);
}

.header__menu-link::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #90E8F8;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.6s ease;
}

.header__menu-link:hover {
  color: #90E8F8;
}

.header__menu-link:hover::before,
.header__menu-link:focus::before {
  transform: scaleX(1);
}

.header__menu-link:focus-visible::before {
  transform: scaleX(1);
}

.header__contacts {
  display: flex;
  align-items: center;
  column-gap: 7px;
  flex-shrink: 0;
}

.header-phone {
  display: flex;
  align-items: center;
  column-gap: 7px;
  text-decoration: none;
  color: white;
}

.link-tool {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  border-radius: 100vmax;
  background-color: rgba(240, 243, 246, 0.07);
}

.header-phone__value {
  font-size: 18px;
  font-weight: 500;
}

.header__btn {
  padding: 15px 20px;
  font-size: 11px;
  letter-spacing: 0.33px;
  text-transform: uppercase;
}

/* Footer */

.footer {
  padding: 40px 0;
  background-color: #242627;
}

.footer__logo {
  flex-shrink: 0;
  max-width: 140px;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  color: #D3D4D4;
}

.footer__contacts {
  display: flex;
  gap: 60px;
}

.footer-contact__title {
  margin: 0;
  margin-bottom: 7px;
}

.footer-contact__link {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  padding-top: 19px;
  font-size: 13px;
  color: #A7A8A9;
  border-top: 1px solid #2F3132;
}

.footer__copyright {
  margin: 0;
}

.footer__privacy {
  color: #A7A8A9;
}