:root {
  --primary-font: 'Geologica', sans-serif;
  --secondary-font: 'Onest', sans-seriff;
  --accent-green: #c1fb68;
  --accent-blue: #0a4b88;
  --accent-light-blue: #9aeaf8;
  --container-padding: 24px;
  --container-width: 1400px;
  --transition-value: 0.3s ease-in-out;
}



img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

ul li {
  list-style-type: none;
}

a {
  transition: color var(--transition-value);
}

a:hover {
  color: var(--accent-blue);
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: var(--secondary-font);
  font-size: 15px;
  background-color: white;
  color: #303437;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  background-color: purple;
}

.header__burger-wrapper {
  display: none;
}