:root {
  --font-headers: 'Geologica', sans-serif;
  --font-main: 'Onest', sans-serif;
  --container-padding: 24px;
  --container-width: 1400px;
  --accent-green: #c1fb68;
  --accent-blue: #0a4b88;
  --accent-light-blue: #9aeaf8;
  --transition-value: 0.3s ease-in-out;
}

body {
  position: relative;
  // display: flex;
  // place-items: center;
  min-width: 320px;
  margin: 0;
  font-family: var(--font-main);
  font-size: 15px;
  background-color: white;
  color: #303437;
}

h1 {
  font-family: var(--font-main);
  font-size: 56px;
  font-weight: 700;
}

p {
  font-family: var(--font-headers);
  font-size: 23px;
  line-height: 28px;
}
