:root {
  --primary-font: 'Geologica', sans-serif;
  --secondary-font: 'Onest', sans-seriff;
  --accent-green: #c1fb68;
  --accent-blue: #0a4b88;
  --accent-light-blue: #9aeaf8;
  --container-padding: 24px;
  --container-width: 1400px;
  --transition-value: 0.3s ease-in-out;
}



img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

ul li {
  list-style-type: none;
}

a {
  transition: color var(--transition-value);
}

a:hover {
  color: var(--accent-blue);
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: --primary-font;
  font-size: 15px;
  background-color: white;
  color: #303437;
}